#pb1{
    background-color: rgba(255,255,255,0);
    border:0px solid rgba(255,255,255,0);
}
#pb2{
    background-color: rgba(255,255,255,0);
    border:0px solid rgba(255,255,255,0);
}
#pb3{
    background-color: rgba(255,255,255,0);
    border:0px solid rgba(255,255,255,0);
}
#Window{
    background-color: rgb(255,255,255);
    border-radius: 10px;
}

#mypad1{
    background-color: rgba(200,100,100, 150);
}

#lpb1{
    background-color: rgba(255,0,0,0);
    border:0px solid rgba(255,255,255,0);
}
#lpb1::menu-indicator{
    image:none;
}
#lpb2{
    background-color: rgba(255,255,255,0);
    border:0px solid rgba(255,255,255,0);
}
#lpb2::menu-indicator{
    image:none;
}
#lpb3{
    background-color: rgba(255,255,255,0);
    border:0px solid rgba(255,255,255,0);
}
#lpb3::menu-indicator{
    image:none;
}
